
@font-face {
    font-family: "fira-sans-book";
    src: url("FiraSans-Book.woff") format('woff');
}
@font-face {
    font-family: "fira-sans-light";
    src: url("FiraSans-ExtraLight.woff") format('woff');
}
@font-face {
    font-family: "fira-sans-thin";
    src: url("FiraSans-UltraLight.woff") format('woff');
}

html {
	height: 100%;
}

body {
  border-top: 5px solid #777;
  margin-top: 0.5px;
  background-size: cover;
	font-family: "fira-sans-book";
	font-weight: 100;
  height: 92.5%;
  background: linear-gradient(to right, white, hsl(50, 0%, 96%));
  padding-left: 3%;
  padding-right: 3%;
}

a {
	text-decoration: none;
	color: black;
}


.site-main, .site-footer {
  position: auto;
  padding-left: 3%;
  padding-right: 3%;
}

.site-main {
  top: 0;
  height:80%;
}

.site-footer {
  bottom: 0%;
  height: 20%;
}

#main {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	text-align: center;
}

#name {
	font-size: 40px;
  font-weight: bold;
}

#menu {
  margin-top: 2%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 25px;
  font-family: "fira-sans-thin";
}

#menu ul li {
	display: inline;
  list-style-type: none;
}


#menu ul li a {
	padding-left: 12.5px;
	padding-right: 12.5px;
}

::selection {
    color: black;
    background: rgb(174, 182, 191);
}

#menu ul li:hover {
	font-weight: bold;
  background: rgb(213, 219, 219);
}

#about {
  display: inline-block;
  vertical-align:top;
}

.experience {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  height: 75%;
  font-family: "fira-sans-light";
}

#where {
  width: 50%;
  float: left;
  text-align: left;
  margin-top: 2.5%;
  border-bottom:2px solid;
  border-top:2px solid;
  border-color: rgb(93, 109, 126);
  padding: 10px 0 10px 0;
}

#when {
  width: 50%;
  float: right;
  text-align: right;
  margin-top: 2.5%;
  border-bottom:2px solid;
  border-top:2px solid;
  border-color: rgb(93, 109, 126);
  padding: 10px 0 10px 0;
}

#role {
  float: left;
  width: 100%;
  text-align: left;
  margin-top: 1%;
}

#what {
  float: left;
  width: 100%;
  text-align: left;
  margin-top: 1%;
}

#footer-text {
  width: 95%;
  padding-top: 5%;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
  font-family: "fira-sans-thin";
}
